	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: Bahnschrift;
		color: #001D49;
		background-color: #FFFAFA;
	}

	html {
		scroll-behavior: smooth;
	}

	header{
	}

	nav {
		position: relative;
    	background: #13293D;
  		padding: 0;
    	color: #fff;
    	overflow: hidden;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	z-index: 10;
	}

	nav ul{
		float: right;
		list-style: none;
	}

	nav ul li {
		display: inline-block;
		line-height: 50px;
		margin: 0 15px; 
	}

	nav ul li a{
		position: relative;
		padding: 10px 8px;
		color: #ffffff;
		font-size: 20px;
		text-decoration: none;
	}

	nav a:hover {
		background: #E8F1F2;
		color: #13293D;
		transition: 0.5s;
		border-radius: 5px;
	}

	nav .ativado {
		background: #E8F1F2;
		color: #13293D;
		transition: 0.5s;
		border-radius: 5px;
	}

	h1 {
		position: relative;
		padding: 5px 0;
		color: #fff;
		font-size: 18px;
		text-decoration: none;
	}

	footer {
		position: relative;
    	background: #13293D;
  		padding: 10px;
  		width: 100%;
  		height: 80px;
    	color: #fff;
    	overflow: hidden;
    	display: flex;
    	flex-direction: column;
	}

	footer h1 {
		position: absolute;
		font-size: 20px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.banner {
		position: relative;
		width: 100%;
		height: 100vh;
		background: #3475ca;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.bannercontato {
		position: relative;
		width: 100%;
		height: 100vh;
		background: #ADD8E6;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.bannercontato .content {
		position: relative;
		max-width: 750px;
		text-align: center;
	}

	.bannercontato .content h2{
		color: #fff;
		font-size: 60px;
		text-align: center;
		margin: 60px auto;
		text-shadow: 2px 2px 4px #000000;
	}

	.bannercontato .content p{
		color: #fff;
		font-size: 60px;
		text-align: center;
		margin: 60px auto;
		text-shadow: 2px 2px 4px #000000;
	}

	.bannercontato .content p{
		color: #fff;
		font-size: 30px;
		text-align: center;
		margin: 60px auto;
		text-shadow: 2px 2px 4px #000000;
	}

	.bannercontato .content h2:after {
		content: '|';
		margin-left: 5px;
		opacity: 1;
		animation: pisca .7s infinite; 
	}

	@keyframes pisca {
		0% {
			opacity: 1; 
		}

		50% {
			opacity: 0;
		}

	}

	.banner img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.6;
	}

	.banner .content {
		position: relative;
		max-width: 750px;
		text-align: center;
	}

	.banner .content h2 {
		color: #fff;
		font-size: 60px;
		text-align: center;
		margin: 60px auto;
		text-shadow: 2px 2px 4px #000000;
	}

	.banner .content h2:after {
		content: '|';
		margin-left: 5px;
		opacity: 1;
		animation: pisca .7s infinite; 
	}

	@keyframes pisca {
		0% {
			opacity: 1; 
		}

		50% {
			opacity: 0;
		}

	}

	.receitas{
		position: relative;
		width: 100%;
		display: flex;
	}

	.receitas .contentrec {
		background: #13293D;
		padding: 50px;
		padding-right: 300px;
		padding-left: 300px;
		width: 100%;
		color: #ffffff;
		align-items: center;
		text-align: center;
	}

	.heading {
		color: #fff;
		font-size: 30px; 
		font-weight: 600;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	.texto {
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
	}

	.part3 {
		padding: 30px;
		margin: 50px auto;
		max-width: 1100px;
	}

	.stick{
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
  		right: 0;
  		left: 0;
  		z-index: 1030;
  	}

  	.menu-opcoes{
  		text-align: center;
  	}


  	#checkbox-menu {
  		position: absolute;
  		opacity: 0;
  	}

  	.hamburguer {
  		cursor: pointer;
  		position: relative;
  		display: none;
  		height: 22px;
  		width: 30px;
  	}

  	.hamburguer span {
  		position: absolute;
  		display: flex;
  		height: 5px;
  		width: 100%;
  		border-radius: 30px;
  		background: #fff;
  		transition: 0.25s ease-in-out;

  	}

  	.hamburguer span:nth-child(1){
  		top: 0;
  	}

  	.hamburguer span:nth-child(2){
  		top: 8px;
  	}

  	.hamburguer span:nth-child(3){
  		top: 16px;
  	}

  	#checkbox-menu:checked + label span:nth-child(1) {
  		transform: rotate(-45deg);
  		top: 8px;
  	}

  	#checkbox-menu:checked + label span:nth-child(2) {
  		opacity: 0;
  	}

  	#checkbox-menu:checked + label span:nth-child(3) {
  		transform: rotate(45deg);
  		top: 8px;
  	}

	#checkbox-X {
  		position: absolute;
  		opacity: 0;
  		cursor: pointer;
  	}
  

  	.xzinho {
  		position: relative;
  		cursor: pointer;
  		display: block;
  		height: 22px;
  		width: 30px;
  	}

  	.xzinho span {
  		position: absolute;
  		display: flex;
  		height: 5px;
  		width: 100%;
  		border-radius: 30px;
  		background: #13293D;
  		transition: 0.25s ease-in-out;
  	}

	.xzinho span:nth-child(1){
  		transform: rotate(-45deg);
  	}

  	.xzinho span:nth-child(2){
  		transform: rotate(45deg);
  	}  
  	

  	.galeria {
  		display: flex;
  		flex-wrap: wrap;
  		flex-direction: row;
  		margin: 70px auto 0;
  	}

  	#sobre {
  		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		text-align: center;
  		position: relative;
  		padding: 30px;
  		margin: 0 auto;
  	}

  	#sobre h2 {
  		padding: 10px;
  	}

  	#sobre p {
  		padding-bottom: 30px;
  	}

  	#sobre img {
  		padding-bottom: 15px;
  	}

  	#sobre .pading {
  		padding-bottom: 27px;
  	}

  	.galeria .imagem{
  		position: relative;
  		color: #fff;
  		padding: 7px;
  		width: calc(100% / 4);
  		box-sizing: border-box;
  		display: inline-block;
  	}

  	.galeria .imagem img {
  		width: 100%;
  		vertical-align: middle;
  		transition: all 0.3s ease;
  	}

  	.galeria .imagem span {
  		display: flex;
  		width: 100%;
  		position: relative;
  	}

  	.galeria .imagem:hover img {
  		transform: scale(1.1);
  	}

  	.galeria .imagem .datalhes {
  		position: absolute;
  		top: 10px;
  		left: 10px;
  		bottom: 10px;
  		right: 10px;
  		background: rgba(0,0,0, .8);
  		transform: scaleY(0);
  		transition: transform .5s;
  		letter-spacing: 1px;
  	}

  	.galeria .imagem:hover .datalhes {
  		transform: scaleY(1);
  	}

  	.galeria .imagem .datalhes a {
  		text-decoration: none;
  		color: #ff0;
  		cursor: pointer;
  	}

  	.galeria .imagem .datalhes .content2 {
  		position: absolute;
  		top: 50%;
  		transform: translateY(-50%);
  		text-align: center;
  		padding: 15px;
  		color: #fff;
  	}

  	.galeria .imagem .datalhes .content2 h2 {
  		margin: 0;
		padding: 0;
		font-size: 20px;
		color: #ff0;	
	}

	.galeria .imagem .datalhes .content2 p {
		margin: 10px 0 0;
		padding: 0;
	}

	.pag-visu {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		transition: 200ms ease-in-out;
		background: #ffffff;
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
		padding: 30px;
		border-radius: 10px;
		border: 3px solid #13293D;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
		z-index: 10;
	}

	.pag-visu.active {
		transform: translate(-50%, -50%) scale(1);
	}

	#sombra {
		position: fixed;
		transition: 200ms ease-in-out;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		pointer-events: none;
	}

	#sombra.active {
		opacity: 1;
		pointer-events: all;
	}

	.pag-visu-scroll {
		width: auto;
		background: #ffffff;
		height: 300px;
		overflow: hidden;
		overflow-y: scroll;
	}

	.scroll-obj {
		color: #13293D;
		font-size: 16px;
		padding: 10px;
	}

	.pag-visu .titulo {
		display: flex;
		position: relative;
		padding-bottom: 23px;		
		color: #13293D;
		font-size: 20px;
		float: right;
		justify-content: space-between;
	}

	.pag-visu .detalhe-pag {
		display: flex;
		justify-content: space-between;
	}

	.item {
		position: relative;
		margin: 15px 0;
	}

	.item::before {
		content: '';
		position: relative;
		left: 0;
		top: 0;
		padding: 0px 10px;
		background-image: url(../img/li.svg);
		background-repeat: no-repeat;
	}

	.pag-visu .conteudo {
		border-top: 3px solid #13293D;
		padding-bottom: 80px;
	}

	.pag-visu .conteudofim {
		border-top: 3px solid #13293D;
		padding-bottom: 20px;
	}

	.conteudo h2 {
		padding-top: 10px;
	}

	.conteudofim h2 {
		padding-top: 10px;
	}

  	.titulo {
		color: #011C40;
		font-size: 30px; 
		font-weight: 600;
		letter-spacing: 1px;
		text-align: center;
	}

	.titulo2 {
		color: #011C40;
		font-size: 30px; 
		font-weight: 600;
		padding-top: 10px;
		margin: 50px auto;
		letter-spacing: 1px;
		text-align: center;
	}

	.container .box{
		position: relative;
		width: 300px;
		height: 300px;
		background: #ff0;
		margin: 10px;
		box-sizing: border-box;
		display: inline-block;
	}

	[data-tab-content] {
		display: none;
	}

	.active[data-tab-content] {
		display: block;
	}

	.conteiner {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-bottom: 10%;
	}

	#titulorec {
		font-size: 20px;
		color: #13293D;
		margin-left: 7%;
		padding-bottom: 15px;
	}

	fieldset {
		border: 0;
	}

	form {
		font-size: 1em;
		color: #13293D;
		margin-left: 27%;
		margin-top: 2%;
		justify-content: center;
	}

	form input select textarea button {
		border-radius: 5px;
	}

	.campo {
		margin-bottom: 1em;
	}

	.campo label{
		margin-bottom: 0.2em;
		color: #274360;
		display: block;
	}

	fieldset.grupo .campo {
		float: left;
		margin-right: 1em;
	}

	.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
		padding: 0.2em;
		border: 1px solid #13293D;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
		display: block;
	}

	.campo input:focus, .campo select:focus, .campo textarea:focus {
		background: #E0E0f8;
	}

	.botao {
		font-size: 1.2em;
		background: #13293D;
		border: 0;
		margin-bottom: 1em;
		color: #ffffff;
		padding: 0.2em 0.6em;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
		text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		position: relative;
		top: 10px;
		margin-left: 20%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.botao:hover {
		background: #E8F1F2;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
		text-shadow: 0;
		color: #13293D;
		transition: 0.5s;
	}

	#checkreceita {
		display: inline-block;
	}
  	@media screen and (max-width: 1000px){
		.galeria .imagem{
  			width: calc(100% / 3);
  		}  		
  	}

  	@media screen and (max-width: 800px){
		.galeria .imagem{
  			width: calc(100% / 2);
  		}  		
  	}

  	@media screen and (max-width: 699px){

		nav {
			display: block;
		}

		nav ul {
			position: fixed;
			width: 100%;
			height: 100vh;
			background: #0477BF;
			left: -100%;
			padding-top: 50%;
			text-align: center;
			transition: all .5s ease-in-out;
		}

		nav ul li {
			display: block;
		}

		nav ul li a{
			font-size: 20px; 
		}

		a:hover {
			background: none;
			color: #E8F1F2;
			transition: 0.5s;
		}

		#checkbox-menu:checked ~ ul {
			left: 0;
			top: 12.5%;
		}

		.hamburguer {
			display: block;
			position: absolute;
			top: 40%;
			right: 5%;
		}


		#checkbox-menu:checked + label span:nth-child(1) {
  			transform: rotate(-45deg);
  			top: 8px;
  		}

  		#checkbox-menu:checked + label span:nth-child(2) {
  			opacity: 0;
  		}

  		#checkbox-menu:checked + label span:nth-child(3) {
  			transform: rotate(45deg);
  			top: 8px;
  		}

  		#checkbox-menu {
  			top: 40%;
  			right: 5%;
  		}

  		.receitas .contentrec{
  			width: 100%;
  		}

  		.galeria .imagem{
  		width: calc(100% / 1);
  		padding: 10px;
  		}

  		.receitas .contentrec {
  			padding-right: 30px;
  			padding-left: 30px;
  		}
	}

	@media screen and (min-width: 677px) {

		nav {
			flex-direction: row;
			position: relative;
			justify-content: space-between;
			padding: 0 20px;
		}

		.menu-opcoes ul li {
			display: inline;
			margin-left: 10px;
		}

		.hamburger span {
			display: none;
		}

		#sobre {
  			flex-direction: row;
  			flex-wrap: wrap;
  		}

  		#sobre h2 {
  			padding: 10px;
  		}

  		#sobre h2, p {
  			width: 100%;
  			text-align: center;
  		}

  		#sobre .sobre {
  			width: 25%;
  			text-align: center;
  		}
  	}


/* comandos rascunho 
	nav {
		height: 50px;
		background: #13293D;
		overflow: hidden;
	}

	nav ul{
		float: right;
		margin-right: 25px;
		list-style: none;
	}

	nav ul li {
		display: block;
		line-height: 50px;
		margin: 0 15px;
	}

	nav ul li a {
		position: relative;
		padding: 10px 8px;
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
	}

	nav a:hover {
		background: #E8F1F2;
		color: #13293D;
	} 

	*/